.adm{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 16px;
}
.adm header{
    display: flex;
}
.adm header div{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.adm header h1{
    color: #ffffff;
    margin: 15px auto 0px auto;
}
.adm header a.home{
    display: flex;
    background: url(../img/casa.svg) no-repeat;
    width: 75px;
    height: 75px;
    margin: 15px;
}
.adm header a.voltar{
    display: flex;
    background: url(../img/arrow-pointing-to-left.svg) no-repeat;
    width: 75px;
    height: 75px;
    margin: 15px;
}
.adm header span{
    width: 75px;
    height: 75px;
    margin: 15px;
}
.adm main div h1,h2{
    color: #18397a;
    margin: 0 auto;
}
.adm main .form-pre-pago .main-valor {
    width: 100vh;
    max-width: 250px ;
    max-height: 25px;
    border-radius: 50px;
    background-color: #d8dae2;
    transition: 400ms;
    color: #18397a;
    font-weight: bold;
    justify-content: center;
    border: groove;
    font-size: 16px;
    margin: 10px;
}
.adm main .main-log{
    margin: auto auto;
    text-align: left;
}
.adm main .main-log .log{
    min-width: 400px;
    max-width: 960px;
    height: 320px;
    max-height: 320px;
    border: solid;
    overflow: auto;
    padding: 5px 5px;
}

@media(max-width:500px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 16px;
    }
    .adm header a.home{
        display: flex;
        background: url(../img/casa2.svg) no-repeat;
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .adm header span{
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .adm header a.voltar{
        display: flex;
        background: url(../img/arrow-pointing-to-left2.svg) no-repeat;
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .adm main .main-log .log{
        min-width: 290px;
        max-width: 290px;
        height: 320px;
        max-height: 320px;
        border: solid;
        overflow: auto;
    }
}
@media(max-width:900px){
    .adm main a.botao{
        min-width: 120px;
        max-width: 260px;
        max-height: 50px;
        font-size: 24px;
    }
    .adm main .main-valor a{
        min-width: 72px;
        max-width: 94px;
        max-height: 24px;
        font-size: 14px;
    }
    .adm .background{
        background-position-x: 95vw;
        align-items: center;
        text-align: center;   
    }
}