.home{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.home h1{
    font-size: 68px;
    color: white;
}
.home main{
    background: url(../img/home.png) no-repeat;
    background-position: right bottom;
}
@media(max-width:900px){
    .home main{
        background-position-x: 95vw;
        align-items: center;
        text-align: center;   
    }
    .home main a{
        min-width: 120px;
        max-width: 260px;
        max-height: 50px;
        font-size: 24px;
    }
}
@media(max-height:550px){
    .home h1{
        font-size: 50px;
    }
    .home main{
        background-position-y: 1px;
    }
}