html{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #18397a;
}

.main{
    margin: auto;
}
main{
    height: 70vh;
    display: flex;
}
main .main a.botao{
    width: 100vh;
    max-width: 380px ;
    max-height: 75px;

    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 35px auto;
    background-color: #d8dae2;

    transition: 400ms;
    color: #18397a;

    border: solid;

    text-decoration: none;
    font-size: 32px;

    flex: 1;
}
 main a.botao b{
     flex: 1;
}
main a.botao:hover{
    background-color: #b8bccc;
  }

