.visitante{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    font-size: 68px;
}
h2{
    font-size: 42px;
}
.visitante header{
    display: flex;
}
.visitante header div{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.visitante header h1{
    color: #ffffff;
    margin: 15px auto 0px auto;
}
.visitante header a.home{
    display: flex;
    background: url(../img/casa.svg) no-repeat;
    width: 75px;
    height: 75px;
    margin: 15px;
}
.visitante header a.voltar{
    display: flex;
    background: url(../img/arrow-pointing-to-left.svg) no-repeat;
    width: 75px;
    height: 75px;
    margin: 15px;
}
.visitante header span{
    width: 75px;
    height: 75px;
    margin: 15px;
}
.visitante main div h1,h2{
    color: #18397a;
    margin: 0 auto;
}
.visitante main .main-valor{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.visitante main .main-valor a{
    min-width: 300px;
    max-width: 310px;
    max-height: 75px;
    font-size: 24px;
    border-radius: 50px;
    justify-items: center;
    background-color: #d8dae2;
    transition: 400ms;
    color: #18397a;
    border: solid;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
}
.visitante main .main-valor a b{
    flex: 1;
    align-items: center;
}
.visitante main .main-valor a:hover{
    background-color: #b8bccc;
}

@media(max-width:500px){
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    .visitante header a.home{
        display: flex;
        background: url(../img/casa2.svg) no-repeat;
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .visitante header span{
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .visitante header a.voltar{
        display: flex;
        background: url(../img/arrow-pointing-to-left2.svg) no-repeat;
        width: 30px;
        height: 30px;
        margin: 10px;
    }
}
@media(max-width:900px){
    .visitante main a.botao{
        min-width: 120px;
        max-width: 260px;
        max-height: 75px;
        font-size: 24px;
    }
    .visitante main .main-valor a{
        min-width: 200px;
        max-width: 210px;
        min-height: 25px;
        max-height: 75px;
        font-size: 14px;
    }
}